.dropdown {
  position: relative;
  z-index: 3;
  width: 215px;
  height: 42px;
}
/* .main .dropdown {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  position: relative;
  width: 217px;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
} */
.dropdown.active{
  z-index: 4;
}

.dropdown input {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  width: 242px;
  height: 100%;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #DFDFDF;
  padding: 15px 10px 12px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.dropdown .options {
  z-index: 3;
  position: absolute;
  top: 34px;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #DFDFDF;
  display: none;
  overflow: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top: 0;
}

.dropdown+.dropdown {
  margin-top: 14px;
}

.dropdown.active .options {
  display: block;
}

.dropdown .options .option__list {
  overflow-y: scroll;
  margin: 10px;
  height: 167px;
}

._icon-arrow {
  z-index: 2;
  position: absolute;
  width: 18px;
  height: 10px;
  top: 20px;
  right: -8px;
  color: #419EF4;
  pointer-events: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.active ._icon-arrow {
  right: 9px;
  top: 16px;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}

.option {
  cursor: pointer;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 8px 10px;
  color: #000000;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.option:hover {
  background: #F6F6F6;

}